In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [2]:
table = pq.read_table("/home/saeedmohseni/Desktop/LLM/Dataset/0000.parquet")
df = table.to_pandas()
print(df.head())

                                                text
0  One day, a little girl named Lily found a need...
1  Once upon a time, there was a little car named...
2  One day, a little fish named Fin was swimming ...
3  Once upon a time, in a land full of trees, the...
4  Once upon a time, there was a little girl name...

In [3]:
stories = df["text"][:200]  

text = "\n\n".join(stories)

# Save to text file
with open("/home/saeedmohseni/Desktop/LLM/Dataset/text.txt", "w", encoding="utf-8") as f:
    f.write(text)